@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Styles  {
    <link rel="stylesheet" href="/css/bundle.css">
}

<div id="app"></div>

@section Scripts  {
    <script src="/js/bundle.js"></script>
}
